<!DOCTYPE html>
	<html>
		<meta charset="UTF-8">
		<head>
			<title> U+1F466	{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:shivammishra14nov@gmail.com">email</a></li>
	        		<li><a href="https://github.com/shivamm14">github.com/shivamm14</a></li>
				</ul>
			</footer>
		</body>
	</html>
